<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask us anything!</title>
</head>
<body>
    <h1>Ask us anything!</h1>
    <form action="/answer">
        <label>
            Ask us anything:
            <input name="question" placeholder="Why are we doing this?">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>