body {
    background-color: aliceblue;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    line-height: 300px; /* Budget vertical centering */
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    /* Why we don't need float anymore */
    display: inline-block;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

/* Parent/child selector */
.spooky span {
    visibility: hidden;
}

.spooky:hover span {
    visibility: visible;
    color: yellow;
    transition: 2s all;
}

.spooky:hover {
    background-color: black;
}
