<div class="row">
    <div class="col-md-3">
        <h2>Sub heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At facilis voluptatem, magnam quam sapiente obcaecati quia ea ab tempora nesciunt quisquam soluta! Dolorum facere, hic unde voluptate velit laudantium quae.</p>
        <p>Nulla ut adipisci repellat repudiandae voluptatum totam ab magni omnis sequi autem molestiae quos, mollitia, cum suscipit facere facilis veritatis quasi, quis necessitatibus est ipsam eaque doloribus alias. Laborum, nostrum!</p>
        <p>Ipsam rem porro nostrum sunt placeat est voluptatem beatae natus quia ut, nesciunt iure dignissimos, officia provident! Laborum, eligendi nam. Iure iste impedit eligendi quisquam reprehenderit eaque dolorem atque deleniti.</p>
    </div>

    <div class="col-md-6">
        <h1>Main heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magnam inventore nesciunt soluta, adipisci maiores laboriosam facilis accusantium facere vel rerum nobis, nihil officia quibusdam ipsa quo, quos ipsam deleniti.</p>
        <p>Sit molestiae inventore et quaerat impedit. Ipsam doloribus aliquam veritatis error vel quas tenetur in voluptatum, rerum, ut animi aperiam, autem odio consequatur nesciunt ex quam aut culpa deserunt! Corrupti.</p>
        <p>Iste sit omnis consequuntur necessitatibus doloribus deleniti quia dolores ex. Consequuntur, earum unde? Aspernatur architecto vel excepturi porro alias quod, temporibus voluptates. Voluptatum tempore maiores magnam accusamus dolore illo impedit.</p>
    </div>

    <div class="col-md-3">
        <h2>Sub heading</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, officiis beatae. Asperiores aliquid voluptate ea eos excepturi molestiae voluptatibus neque provident blanditiis? Quod accusamus ducimus minus esse consequatur inventore adipisci!</p>
        <p>Architecto dolore dignissimos a fugiat quo beatae maiores totam ipsum laudantium quis, quasi, soluta suscipit expedita magnam veritatis atque sed iure repudiandae? Ex quis repellat nesciunt consequuntur soluta rem eligendi.</p>
        <p>Porro sit, nam tenetur dolorem illo ducimus, beatae earum maiores commodi nostrum cum repellat eveniet quam deserunt facilis incidunt temporibus vitae, quos dolor consequatur? Autem ullam sequi repudiandae voluptas quas.</p>
    </div>
</div>