.pixel {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    display: inline-block;
    float: left;
}

.swatch {
    display: inline-block;
    width: 5em;
    height: 5em;
    border: 1px solid black;
    border-radius: 0.5em;
}

.swatch.selected {
    box-shadow: 0 0 10px limegreen;
}