<form action="/result">
    <label>
        First number:
        <input type="number" name="x" placeholder="23">
    </label>

    <label>
        Operator:
        <input name="operator" placeholder="+ or - or * or /">
    </label>

    <label>
        Second number:
        <input type="number" name="y" placeholder="17">
    </label>

    <button>Calculate!</button>
</form>
