<h1>Web Servers Gone Wild</h1>

<p>Random IP addresses with web servers listening on port 80</p>

<h2><%= @hosts.count %> hosts detected</h2>

<% @hosts.each do |ip| %>
    <p>
        <a href="http://<%= ip %>" target="_blank">
            <%= ip %>
        </a>
    </p>
<% end %>
