<h1>A Touching Blog of Tender Feelings</h1>

<div class="post">
    <h2>First Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, et incidunt deserunt ab eaque quam expedita. Error at, repellendus dolorum nostrum aperiam, adipisci minus eos quasi eligendi ab saepe rerum.</p>
        <p>Laudantium distinctio eos voluptatum obcaecati delectus, blanditiis quidem ratione, tenetur corrupti dolore adipisci debitis, voluptates numquam totam consectetur laborum autem. Autem facilis eligendi est sit recusandae sunt et ratione fugiat.</p>
    </div>
</div>

<div class="post">
    <h2>Second Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, et incidunt deserunt ab eaque quam expedita. Error at, repellendus dolorum nostrum aperiam, adipisci minus eos quasi eligendi ab saepe rerum.</p>
        <p>Laudantium distinctio eos voluptatum obcaecati delectus, blanditiis quidem ratione, tenetur corrupti dolore adipisci debitis, voluptates numquam totam consectetur laborum autem. Autem facilis eligendi est sit recusandae sunt et ratione fugiat.</p>
    </div>
</div>

<div class="post">
    <h2>Third Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, et incidunt deserunt ab eaque quam expedita. Error at, repellendus dolorum nostrum aperiam, adipisci minus eos quasi eligendi ab saepe rerum.</p>
        <p>Laudantium distinctio eos voluptatum obcaecati delectus, blanditiis quidem ratione, tenetur corrupti dolore adipisci debitis, voluptates numquam totam consectetur laborum autem. Autem facilis eligendi est sit recusandae sunt et ratione fugiat.</p>
    </div>
</div>

<hr>

<div class="notification">
    This is a notification
</div>

<div class="error">
    This is error
</div>

<div class="success">
    This is success
</div>
