<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butterflies</title>
    <link rel="stylesheet" href="/css/butterflies.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <a href="/butterflies">All butterflies</a>
            <a href="/butterflies/new">New butterfly</a>
            |
            <a href="/plants">All plants</a>
            <a href="/plants/new">New plant</a>
        </nav>
        <%= yield %>
    </div>

</body>
</html>