<h1>New plant</h1>

<form action="/plants" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Lantana">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create plant</button>
</form>
