<h1>Edit plant</h1>

<form action="/plants/<%= @plant.id %>" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Lantana" value="<%= @plant.name %>">
    </label>

    <label>
        Image:
        <input type="url" name="image" value="<%= @plant.image %>">
    </label>

    <button>Update plant</button>
</form>
